@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	max-width: 1000px;
	margin: auto;
	padding: 0 1rem;
}

h2 {
	text-transform: uppercase;
	font-weight: 400;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	margin: 2rem 0;
	gap: 2rem;
}

.flex .left {
	flex: 1 0;
	padding: 1rem;
	border-left: .5rem solid #312E81;
	background-color: #EEF2FF;
}

.flex .right {
	flex: 1 1 500px;
}

.btn {
	display: inline-block;
	color: white;
	font-size: .8rem;
	text-transform: uppercase;
	padding: .5rem 1rem;
	border: none;
	border-radius: 5px;
	background-color: #312E81;
	margin: 1rem 0;
	cursor: pointer;
	white-space: nowrap;
}

.btn:hover {
	background-color: #4338CA;
}

.delete {
	background-color: transparent;
	padding: .3rem;
	border: none;
	cursor: pointer;
}

.flash {
	position: fixed;
    bottom: 1rem;
    right: 1rem;
	background-color: #4338CA;
}

header {
	display: flex;
	align-items: center;
	margin: 1rem 0;
	padding-bottom: .5rem;
	border-bottom: 1px solid;
}

header .dropdown {
	margin-left: auto;
	position: relative;
}

header .dropdown .dropdown-items {
	display: none;
	position: absolute;
	right: 0;
}

header .dropdown:hover .dropdown-items {
	display: block;
}

header .dropdown-items .item {
	margin-top: .5rem;
	margin-bottom: 0;
	width: 100%;
}

header .dropdown svg {
	vertical-align: bottom;
	margin-left: .5rem;
	transform: none;
	transition: transform .3s;
}

header .dropdown:hover .item:not(.dropdown-items .item) svg {
	transform: rotate(180deg);
}

nav {
	margin: .5rem 0;
	font-size: .8rem;
	display: flex;
	gap: .3rem;
	overflow-x: scroll;
}

nav a {
	padding: 0.5rem;
	text-transform: uppercase;
	border-radius: 5px;
}

nav a:hover,
nav a.active {
	color: white;
	background-color: #4338CA;
}

main {
	margin: 2rem 0;
}

main ul {
	margin: 1rem 0;
}

main li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: .9rem;
	padding: .3rem .3rem;
}

main li:not(:last-of-type) {
	border-bottom: 1px solid;
}

main li:hover {
	background-color: #EEF2FF;
}

main li a:hover {
	font-weight: 700;
}

.input {
	margin-bottom: 1rem;
}

.input label {
	font-size: .8rem;
	font-weight: 700;
}

.error {
	font-size: .8rem;
	color: red;
	margin-top: .3rem;
}

.input input:not(input[type="checkbox"]) {
	display: block;
	padding-left: .5rem;
	font-size: .9rem;
	line-height: 2.2;
	margin-top: .3rem;
	width: 100%;
	border: 1px solid;
	border-radius: 5px;
}


