@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	max-width: 1200px;
	margin: auto;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

.btn {
	display: inline-block;
	color: white;
	font-size: .8rem;
	font-weight: 700;
	padding: .5rem 1rem;
	border: none;
	background-color: green;
	margin: 1rem 0;
}

.delete {
	background-color: transparent;
	padding: .3rem;
	font-weight: 700;
	border: none;
	color: red;
	cursor: pointer;
}

.flash {
	position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: white;
    background-color: purple;
    font-size: .9rem;
    padding: .5rem 1rem;
}

header {
	display: flex;
	align-items: center;
	margin: 1rem .5rem;
}

header .dropdown {
	margin-left: auto;
	position: relative;
}

header .dropdown .dropdown-items {
	display: none;
	position: absolute;
}

header .dropdown:hover .dropdown-items {
	display: block;
	width: 100%;
}

header .dropdown .item {
	font-size: .8rem;
}

header .dropdown-items .item {
	margin-top: .5rem;
	padding: .5rem 1rem;
	background-color: white;
	border: 1px solid;
	transition: .3s;
	cursor: pointer;
}

header .dropdown svg {
	vertical-align: text-top;
	margin-left: .5rem;
	transform: none;
	transition: transform .3s;
}

header .dropdown-items .item:hover {
	color: white;
	background-color: black;
}

header .dropdown:hover .item:not(.dropdown-items .item) svg {
	transform: rotate(180deg);
}

nav {
	margin: 1rem .5rem;
	border-top: 1px solid;
	border-bottom: 1px solid;
	font-size: .9rem;
	display: flex;
	overflow-x: scroll;
}

nav a {
	padding: 0.5rem;
	text-transform: uppercase;
}

nav a:hover,
nav a.active {
	color: white;
	background-color: black;
}

main {
	margin: 2rem .5rem;
}

main h2 {
	text-transform: uppercase;
	font-weight: 400;
}

main ul {
	margin: 1rem 0;
}

main li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: .9rem;
	padding: .3rem .3rem;
}

main li:not(:last-of-type) {
	border-bottom: 1px solid;
}

main li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.input {
	margin: .5rem 0;
}

.input label {
	font-size: .8rem;
}

.error {
	font-size: .8rem;
	color: red;
}

.input input:not(input[type="checkbox"]) {
	display: block;
	padding-left: .5rem;
	font-size: .9rem;
	line-height: 2;
	min-width: 300px;
}


